html,body {
    padding:0;
    margin:0;
    font-family: Times, "Times New Roman", serif;
}

.centered_text{
    text-align: center;
}

.aesthetic{
    letter-spacing: 8px;
}

div.absolute img{
    position: absolute;
    bottom: 0px;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}

div.tallboye img{
    height: 100%;
    width: 100%;
    overflow: hidden
}

div.centered img{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

.nav {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align:center;
  font-size: 10pt;
}

.nav ul{
  display: inline-block;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
}

.nav a{
  display:inline-block;
  padding:10px;
  text-decoration: none;
}

.boringlist{
  list-style-type: none;
  font-size: 10pt;
}

.boringlist a{
  display:inline-block;
  padding:10px;
  text-decoration: none;
}

.yotsuba{
  background-color: #D5DAF0;
  color: #AF0A0F;
}

.yotsuba p{
  color: black;
}

.yotsuba a, .button {
  color: #34345C;
  text-decoration: none;
}

.yotsuba  a:hover, a:hover, .button:hover {
  color: #DD0000;
}

.tricklink a:hover{
  display: none;
}

/*body {
    background-image: url("../images/chenrun.gif");
    background-repeat: repeat;
}*/
