html,body {
    padding:0;
    margin:0;
}

div.absolute img{
    position: absolute;
    bottom: 0px;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}

div.tallboye img{
    height: 100%;
    width: 100%;
    overflow: hidden
}

div.centered img{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

/*body {
    background-image: url("../images/chenrun.gif");
    background-repeat: repeat;
}*/
